In [1]:
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
#import psycopg2
#from config import db_password
import time
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf

In [5]:
region_table = pd.read_csv('region_table.csv')#, index_col = 1

region_table.head()

   store  store_group state   region    carrier
0      3          199    MN  Midwest        UPS
1      5          199    MN  Midwest  FedEx/UPS
2     12          194    MO  Midwest        UPS
3     13          391    TX     West        UPS
4     19          194    OK  Midwest        UPS

In [6]:
region_table.dtypes

store           int64
store_group     int64
state          object
region         object
carrier        object
dtype: object

In [7]:
for column in region_table.columns:
    print(f"Column {column} has {region_table[column].isnull().sum()} null values")

Column store has 0 null values
Column store_group has 0 null values
Column state has 0 null values
Column region has 0 null values
Column carrier has 0 null values